# QPM Website Backend Environment Variables

PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/qpm_registry
JWT_SECRET=quantum_package_manager_super_secret_jwt_key_2026

# Google Drive API Service Account Credentials
# (User can paste live service account email, PEM key, and Folder ID below)
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_RSA_PRIVATE_KEY\n-----END PRIVATE KEY-----"
GOOGLE_DRIVE_FOLDER_ID=1a2b3c4d5e6f7g8h9i0j
